<!DOCTYPE html>

<html>
    <head>
        <title>ASP.NET with TypeScript</title>
    </head>
    <body>
        <h1>ASP.NET with TypeScript</h1>
        <p>Clock below is powered by TypeScript.</p>
        <p>Steps:</p>
        <ol>
            <li>(optional)Install-Package Typescript.Compiler</li>
            <li>Add TypeScript file</li>
            <li>Reference TypeScript file with .js extention</li>
        </ol>

        <div>
            <div id="content"></div>
        </div>
        
        <script src="/Scripts/clock.js"></script>
    </body>
</html>